<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - NouGeos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NouGeos</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-target="#" data-toggle="dropdown" role="button" aria-expanded="false">Proyectos<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" data-toggle="modal" data-target="#myModal">Nuevo Proyecto</a></li>
                        </ul>
                    </li>*@
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-target="#" data-toggle="dropdown" role="button" aria-expanded="false">Ciudades<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="menuMonterrey" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Monterrey</a></li>
                            <li><a id="menuGuadalajara" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Guadalajara</a></li>
                            <li><a id="menuCiudadMexico" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">DF y Área Metropolitana</a></li>
                            <li class="divider" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static"></li>
                            <li><a id="menuCuliacan" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Culiacán</a></li>
                            <li><a id="menuHermosillo" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Hermosillo</a></li>
                            <li><a id="menuMazatlan" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Mazatlán</a></li>
                            <li class="divider" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static"></li>
                            <li><a id="menuAguascalientes" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Aguascalientes</a></li>
                            <li><a id="menuCelaya" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Celaya</a></li>
                            <li><a id="menuQueretaro" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Querétaro</a></li>
                            <li><a id="menuLeon" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">León</a></li>
                            <li class="divider" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static"></li>
                            <li><a id="menuSanLuisPotosi" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">San Luis Potosí</a></li>
                            <li><a id="menuCuernavaca" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Cuernavaca</a></li>
                            <li class="divider" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static"></li>
                            <li><a id="menuTijuana" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Tijuana</a></li>
                            <li><a id="menuMexicali" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Mexicali</a></li>
                            <li><a id="menuEnsenada" href="#" data-toggle="modal" data-target="#ciudadesModal" data-backdrop="static">Ensenada</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GFK</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gfkscripts")

    @RenderSection("scripts", required: false)
</body>
</html>
